<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>375262444333-t1u7v1qf0gga9epp376q9ckph58crd7a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.375262444333-t1u7v1qf0gga9epp376q9ckph58crd7a</string>
	<key>API_KEY</key>
	<string>AIzaSyCcL9k9nYUwwM-_ftppmdkutTxXo8hFeic</string>
	<key>GCM_SENDER_ID</key>
	<string>375262444333</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.name.jlpt</string>
	<key>PROJECT_ID</key>
	<string>ildannyang</string>
	<key>STORAGE_BUCKET</key>
	<string>ildannyang.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:375262444333:ios:90e6ec1fac532abe8cb1a4</string>
</dict>
</plist>